<body>
<div class="logo">
<img src="">
</div>

<div class="mainContainer">
<div class="mainContent">   
<div>Create </div>
<div>Custom</div>
<div>Login Form</div>
</div>

<div class="loginForm">
<div class="form"> 
 <h4>Log In</h4>   
<form class="ngForm">
<input type="text" placeholder="User Name / Email Address" class="ngForm, input"><br><br>
<input type="email" placeholder="Password"class="ngForm, input"><br><br>
<button class="btn" >Log In</button><br>
<input type="checkbox"class="ngForm">
</form>
</div> 
</div>
</div>


</body>
