<body>
<div class="logo">
<div class="picture">
<img src="../../assets/./images.jpg">
</div>
<div class="navBar">
<div>EXCLUSIVE ADDONS</div> 
<div>FOR ELEMENTOR</div>
</div>
</div>

<div class="mainContainer">
<div class="mainContent">   
<div>Create </div>
<div>Custom</div>
<div>Login Form</div>
</div>

<div class="loginForm">
<div class="form"> 
 <h4>Log In</h4>   
<form >
  <!-- the following input attribute is useful if the input tag is not inside a form, [ngModelOptions]="{standalone: true} -->
<input type="text" [(ngModel)]="loginEmail" placeholder="User Name / Email Address" class="login_email" [ngModelOptions]="{standalone: true}"><br><br>
<input type="password" [(ngModel)]="loginPassword" placeholder="Password" class="login_pass" [ngModelOptions]="{standalone: true}"><br><br>
<button class="btn" (click)="login( ) ">Log In</button><br><br>

<div class="lastInput"> 
<div>      
<input type="checkbox"></div>

<div>
Remember Me 
</div>
<div>
  Lost Your Password  
</div>
</div><br>

<button class="btn2">Register Your Account </button>
</form>

</div> 

</div>
</div>


</body>
